* {
    font-family: Georgia, 'Times New Roman', Times, serif
}

html {
    scroll-behavior: smooth;
}

.topBar {
    background-color: pink;
    max-height: 200px;
    padding: 5px 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-3 {
    display: flex;
    flex-basis: 20%;
}

.myName {
    display: flex;
    background-color: rgba(255, 127, 127, 0.473);
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px 6px 16px;
    width: 23%;
}

.myName h1 {
    color: #434343;
    font-size: 44px;
    margin: 0;
    text-align: center;
}


h2 {
    line-height: 16px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
}

.links a {
    color: rgb(255, 127, 127);
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
    border-bottom: hotpink solid 6px;
    padding: 16px 16px 0px 16px;
}

.topBannerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-image: url(images/header.jpeg);
}

.centerContent {
    display: flex;
    align-self: center;
}

.subtitle {
    display: flex;
    justify-content: flex-end;
    max-width: 600px;
    padding: 13px;
    background-color: pink;
}

.subtitle h2 {
    align-items: center;
    color: hotpink;
    font-size: 16px;
}

img {
    display: block;
    height: 222px;
    align-content: space-between;
}

.bio {
    width: 77%;
    margin: 0;
}

p.bio {
    font-size: 16px;
    line-height: 2;
    text-align: justify;
}

.page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 25px;
}

.flex-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 9px;
}

.content {
    display: flex;
    flex-basis: 77%;
    padding: 22px;
    border-left: hotpink solid 3px;
    justify-content: space-around;
}

.content>nav>a {
    margin: 10px;
}

.examples {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

div.row-one {
    display: flex;
    height: 200px;
    align-items: center;
    /* border: hotpink solid 3px; */
    background-image: url(images/floral.jpeg);
    justify-content: center;
    margin-bottom: 5px;
}

.row-one,
.row-two,
.row-three {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    font-size: 22px;
    justify-content: space-around;
}

.row-two div,
.row-three div {
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    border: 3px solid aquamarine;
    background-color: pink;
    justify-content: center;
}

.project {
    margin: 10px 0;
}


h3 {
    flex: 1;
    color: hotpink;
    font-size: 50px;
    padding-right: 20px;
    text-align: right;
    margin: 9px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    background-color: pink;
    color: #434343;
    display: inline;
    text-align: right;
    padding: 10px;
}

div.project {
    color: #434343;
}

.myLinks {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}

.myLinks a {
    color: hotpink;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
    border-bottom: hotpink solid 6px;
    padding: 16px 16px 0px 16px;
}